doctype 5
html
  head
    title Maaas - Edit Application
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(type='text/javascript', src="/static/js/debugger.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    style(type="text/css" media="screen").
      #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 260px;
        }
      .ace_gutter-cell.ace_breakpoint {
        border-radius: 20px 20px 20px 20px; 
        box-shadow: 0px 0px 1px 1px red inset; 
        } 
      .active-breakpoint {
        background: rgba(255, 50, 50, 0.5);
        position: absolute;
        width: 100% !important;
        left: 0 !important;
        }
  body

    div(id="optionsPanel" style="position:absolute; width:260px")
      if page
        b Editing: #{page}
        form(action='/save',method='post')
          input(type='button',value='Save Changes',onClick='doSave();')
      ul
        each val in files
          li
            if val == page
              b: a(href="edit?page=" + val) >> #{val} <<
            else
              a(href="edit?page=" + val) #{val}

      form(action='/debug',method='post')
        input(type='button',value='Start Debugging',onClick='debugStart();')
        br
        input(type='button',value='Stop Debugging',onClick='debugStop();')
        br
        input(type='button',value='Continue',onClick='debugContinue();')      
        br
        input(type='button',value='Step In',onClick='debugStep("in");')      
        br
        input(type='button',value='Step Out',onClick='debugStep("out");')      
        br
        input(type='button',value='Step Over',onClick='debugStep("next");')      

    #editor.div #{code}

    script(src="/script/ace/ace.js" type="text/javascript" charset="utf-8")
    script(type='text/javascript', src="/static/js/editpage.js")
    script.
      initEditPage("#{page}");

