doctype 5
html
  head
    title Maaas - Edit Application
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    style(type="text/css" media="screen").
      #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 260px;
        }

  body

    div(id="optionsPanel" style="position:absolute; width:260px")
      if page
        b Editing: #{page}
        form(action='/save',method='post')
          input(type='button',value='Save Changes',onClick='doSave();')
      ul
        each val in files
          li
            if val == page
              b: a(href="edit?page=" + val) >> #{val} <<
            else
              a(href="edit?page=" + val) #{val}
      

    #editor.div #{code}

    script(src="/script/ace/ace.js" type="text/javascript" charset="utf-8")
    script.
      var page = "#{page}";
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/javascript");
      editor.commands.addCommand({
        name: 'saveCommand',
        bindKey: {win: 'Ctrl-S',  mac: 'Command-S'},
        exec: function(editor) {
          doSave();
        },
        readOnly: false // false if this command should not apply in readOnly mode
      });

      function doSave() 
      {
        $.post("edit", { page: page, content: editor.getValue() }, function(result)
        {
            alert("Module saved");
        })
        .fail(function() 
        {
            alert( "error" );
        });
      }

